html {

    background-image: url('https://i.pinimg.com/originals/da/ed/11/daed11c4d95b24a8d8656c5cbb092b81.gif');
    background-size: cover; 
    background-position: center; 
    position: relative; 
}

/* Create a pseudo-element to darken and blur the background */
html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px); 
    z-index: -1; 
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  .category-item {
    position: relative;
    overflow: hidden;
  }
  
  .category-item img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  
  .category-item .category-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .category-item:hover img {
    opacity: 0;
  }
  
  .category-item:hover .category-image-hover {
    opacity: 1;
  }

  .category-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    font-family: "Unna", serif;
    text-align: center;
    color: white;
  }

h3 {
    font-family: "Yesteryear", cursive;
    text-align: center;
    color: white;
    font-size: 100px;
    text-shadow: 0 0 10px #ca3d83;
}

.yesteryear-regular {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
#toggle-sound {
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: auto;
}

.unna-bold-italic {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
}

